Library
Temp
*.pidb
*.unityproj
*.sln
*.userprefs
Assets/Resources/Prefab/Chara/Character7.prefab.meta

Assets/Animation/Character/Chara11/Chara11Animation.asset

Assets/Animation/Character/Chara11/Chara11Animation.asset

Assets/Animation/Character/Chara11/Chara11Animation.asset

Assets/Animation/Character/Chara11/Chara11Animation.asset
